<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>São Miguel Bus API</title>
  </head>
  <body>
    <div class="log-form">
      <h2>🔒 Enter the secret code 🤫</h2>
      <form>
        <input type="password" title="code" placeholder="Secret Code" />
        <button type="submit">Go to secret page</button>
        <a style="color: rgb(89, 184, 216);" onclick="why()"><u>Don't know the code?</u></a>
      </form>
    </div><!--end log form --> 

    <script>
      function why() {
        alert("Why are you here then? 🧐");
      }
      </script>
  </body>
</html>