<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    
    <title>São Miguel Bus API</title>
  </head>
  <body>
    <input type="text" name="daterange" value="{{ start_time }} - {{ end_time }}" />    
    <script>
        $(function() {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left',
                locale: {
                    format: 'YYYY-MM-DD'
                }
            }, function(start, end, label) {
                window.location.href = "/statistics?start_time=" + Date.parse(start.format('YYYY-MM-DD 00:00:00')) / 1000 + "&end_time=" +  Date.parse(end.format('YYYY-MM-DD 23:59:00')) / 1000;
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
            });
    </script>

    <div style="display: flex; flex-wrap: wrap;">
    <div style="flex: 1; margin-right: 10px;">
        <div style="height: 300px; width: 100%;">
            <h2>Android Loads (%)</h2>
            <canvas id="languagesChart"></canvas>
            <script>
                var ctx = document.getElementById('languagesChart').getContext('2d');
                var labels = [{% for label in labels %}"{{ label }}",{% endfor %}];
                var data = [{% for n in no %}{{ n }},{% endfor %}];
                var languagesChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: data,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true
                    }
                });
            </script>
        </div>
    </div>
    <div style="flex: 1; margin-left: 10px;">
        <div style="height: 400px; width: 100%;">
            <h2>Android Loads</h2>
            <canvas id="loadsOvertime"></canvas>
            <script>
                var ctx = document.getElementById('loadsOvertime').getContext('2d');
                var loadsOvertime = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [{% for timestamp in android_loads_timestamp_keys %}"{{ timestamp }}",{% endfor %}],
                        datasets: [{
                            label: 'Android App Loads',
                            data: [{% for count in android_loads_timestamp_values %}{{ count }},{% endfor %}],
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }],
                                xAxes: [{
                                    ticks: {
                                        display: false
                                    }
                                }]
                            }
                    }
                });
            </script>
        </div>
    </div>
</div>
    <div id="container">
        <h2>Latest Activity</h2>
        {% for stat in latests_activity %}
        <tr>
            <td><b>Request:</b> {{ stat.request }}</td>
            <td><b>Origin:</b> {{ stat.origin }}</td>
            <td><b>Destination:</b> {{ stat.destination }}</td>
            <td><b>Time:</b> {{ stat.time }}</td>
            <td><b>Platform:</b> {{ stat.platform }}</td>
        </tr>
        <br>
        {% endfor %}
    </div>

    <div id ="container">
        <h2>Android Loads Today:</h2> {{ android_loads_today_count }}
        <h2>Get Routes Today:</h2> {{ get_routes_today }}
        <h2>Find Route Today:</h2> {{ find_routes_today }}
        <h2>Get Directions Today:</h2> {{ get_directions_today }}
    </div>

    <div id="container">
        <h2>Most Searched Destinations</h2>
        {% for label in most_searched_destinations_labels %}
        <tr>
            <td><b>{{ label }}, </b></td>
        </tr>
        
        {% endfor %}
        <br>
        {% for value in most_searched_destinations_values %}
        <tr>
            <td>{{ value }},</td>
        </tr>
        {% endfor %}
    </div>

    <div id="container">
        <h2>Most Searched Origins</h2>
        {% for label in most_searched_origins_labels %}
        <tr>
            <td><b>{{ label }}, </b></td>
        </tr>
        
        {% endfor %}
        <br>
        {% for value in most_searched_origins_values %}
        <tr>
            <td>{{ value }},</td>
        </tr>
        {% endfor %}
    </div>

    <div id="container">
        <h2>Most Popular Routes</h2>
        {% for label in most_searched_routes_labels %}
        <tr>
            <td><b>{{ label }}, </b></td>
        </tr>
        {% endfor %}
        <br>
        {% for value in most_searched_routes_values %}
        <tr>
            <td>{{ value }},</td>
        </tr>
        {% endfor %}
    </div>

<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for label in labels %}'{{ label }}',{% endfor %}],
        datasets: [{
            label: '{{ label }}',
            data: [{% for n in no %}'{{ n }}',{% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
 
  </body>
</html>