/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px; 
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 3px; 
    border: 1px solid var(--form-border-color);
    border-radius: 4px;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
}

button:hover {
    background-color: var(--button-bg-hover-color);
    color: var(--button-text-color);
}